@model MovieStore.Web.Models.IndexViewModel
@using MovieStore.Web.DataAccess
@using Microsoft.AspNet.Identity
@{
    var userName = new CustomerDataAccess().GetFullName(User.Identity.GetUserId());
    ViewBag.Title = userName;
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>

    <h3 class="text-warning">@userName</h3>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @if (User.IsInRole("Customer"))
            {
                @Html.ActionLink("View details", "Edit", "Customer")
            }
        </dd>
        <dd>
        </dd>
        <dd>
            @if (User.IsInRole("Customer"))
            {
                @Html.ActionLink("View orders", "Orders", "Customer")
            }
        </dd>
        <dd>

            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
        </dd>
    </dl>
</div>