@model MovieStore.Web.Models.CheckOutViewModel

@using Microsoft.AspNet.Identity;
@using MovieStore.Web.DataAccess;
@using MovieStore.Web.Models;

@{
    ViewBag.Title = "Check Out";
    var c = new CustomerDataAccess().GetCustomer(User.Identity.GetUserId());
}

<h1 class="mb-4 pt-3 text-warning text-center">Check out</h1>

@if (Model != null)
{
    decimal totalPrice = 0;
    foreach (var movie in Model.Movies)
    {
        totalPrice += movie.Price;
    }

    List<string> moviesChecked = new List<string>();

    <div class="row justify-content-center align-items-stretch mx-2">

        @foreach (MovieStore.Lib.Models.Movie movie in Model.Movies)
        {
            int movieCount = Model.Movies.Count(m => m.ImdbID == movie.ImdbID);

            if (!moviesChecked.Contains(movie.ImdbID))
            {
                moviesChecked.Add(movie.ImdbID);
                var m = new MovieStore.Web.Models.MovieCartPartialViewModel
                {
                    Count = movieCount,
                    Movie = movie,
                    TotalPrice = movie.Price * movieCount
                };

                @Html.Partial("_MovieCheckOutPartial", m);

            }
        }
    </div>

    <h3>Order total: <span class="text-warning">@totalPrice kr</span></h3>

    using (Html.BeginForm("Index", "CheckOut", FormMethod.Post, new { @class = "flex-fill mx-2" }))
    {
        @Html.AntiForgeryToken()

        <h4 class="mt-5 mb-3">Personal details</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Customer.Id)
        @Html.HiddenFor(model => model.Customer.ApplicationUserId)

        <div class="row justify-content-center align-items-center">

            <div class="form-group col-12 col-md-6 px-0">
                @Html.LabelFor(model => model.Customer.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12 d-block w-100">
                    @Html.EditorFor(model => model.Customer.FirstName, new { htmlAttributes = new { @class = "form-control col-12 w-100 d-block" } })
                    @Html.ValidationMessageFor(model => model.Customer.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-12 col-md-6 px-0">
                @Html.LabelFor(model => model.Customer.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12 d-block w-100">
                    @Html.EditorFor(model => model.Customer.LastName, new { htmlAttributes = new { @class = "form-control col-12 w-100 d-block" } })
                    @Html.ValidationMessageFor(model => model.Customer.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-12 col-md-6 px-0">
                @Html.LabelFor(model => model.Customer.BillingAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12 d-block w-100">
                    @Html.EditorFor(model => model.Customer.BillingAddress, new { htmlAttributes = new { @class = "form-control col-12 w-100 d-block" } })
                    @Html.ValidationMessageFor(model => model.Customer.BillingAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-12 col-md-6 px-0">
                @Html.LabelFor(model => model.Customer.BillingCity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12 d-block w-100">
                    @Html.EditorFor(model => model.Customer.BillingCity, new { htmlAttributes = new { @class = "form-control col-12 w-100 d-block" } })
                    @Html.ValidationMessageFor(model => model.Customer.BillingCity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-12 col-md-6 px-0">
                @Html.LabelFor(model => model.Customer.BillingZip, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12 d-block w-100">
                    @Html.EditorFor(model => model.Customer.BillingZip, new { htmlAttributes = new { @class = "form-control col-12 w-100 d-block" } })
                    @Html.ValidationMessageFor(model => model.Customer.BillingZip, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-12 col-md-6 px-0">
                @Html.LabelFor(model => model.Customer.DeliveryAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12 d-block w-100">
                    @Html.EditorFor(model => model.Customer.DeliveryAddress, new { htmlAttributes = new { @class = "form-control col-12 w-100 d-block" } })
                    @Html.ValidationMessageFor(model => model.Customer.DeliveryAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-12 col-md-6 px-0">
                @Html.LabelFor(model => model.Customer.DeliveryCity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12 d-block w-100">
                    @Html.EditorFor(model => model.Customer.DeliveryCity, new { htmlAttributes = new { @class = "form-control col-12 w-100 d-block" } })
                    @Html.ValidationMessageFor(model => model.Customer.DeliveryCity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-12 col-md-6 px-0">
                @Html.LabelFor(model => model.Customer.DeliveryZip, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12 d-block w-100">
                    @Html.EditorFor(model => model.Customer.DeliveryZip, new { htmlAttributes = new { @class = "form-control col-12 w-100 d-block" } })
                    @Html.ValidationMessageFor(model => model.Customer.DeliveryZip, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-12 col-md-6 px-0">
                @Html.LabelFor(model => model.Customer.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12 d-block w-100">
                    @Html.EditorFor(model => model.Customer.EmailAddress, new { htmlAttributes = new { @class = "form-control col-12 w-100 d-block" } })
                    @Html.ValidationMessageFor(model => model.Customer.EmailAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-12 col-md-6 px-0">
                @Html.LabelFor(model => model.Customer.PhoneNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12 d-block w-100">
                    @Html.EditorFor(model => model.Customer.PhoneNo, new { htmlAttributes = new { @class = "form-control col-12 w-100 d-block" } })
                    @Html.ValidationMessageFor(model => model.Customer.PhoneNo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group col-12 px-0 mt-3">
            <input type="submit" value="Proceed to payment" class="btn btn-outline-warning d-block w-100 col-12" />
        </div>

    }
}
else
{
    <h4>No movies added to cart.</h4>
}