@{
    ViewBag.Title = "Admin Page";
}

<h2 class="text-center text-md-left ml-2">Admin Page</h2>

<div class="d-flex flex-column flex-md-row">
    @Html.ActionLink("Roles", "Roles", new { }, new { @class = "btn btn-warning mx-2 my-2" })
    @Html.ActionLink("Customers", "Customers", new { }, new { @class = "btn btn-warning mx-2 my-2 " })
    @Html.ActionLink("Movies", "Index", "Movies", new { }, new { @class = "btn btn-warning mx-2 my-2" })
    @Html.ActionLink("Orders", "Orders", new { }, new { @class = "btn btn-warning mx-2 my-2" })
    @Html.ActionLink("Update Movies", "UpdateMovies", new { }, new { @class = "btn btn-warning mx-2 my-2" })
</div>