@model MovieStore.Lib.Models.Movie

@{
    ViewBag.Title = "Details";
}

<div class="d-flex flex-column flex-md-row flex-sm-column bg-secondary shadow-sm" style="border-radius: 0 3rem 0 0">
    <img class="img-fluid h-auto w-100" style="max-width: 400px" src="@Model.Poster" alt="Movie Poster" />
    <div class="mx-2 mt-2">
        <h2 class="text-white">@Html.DisplayFor(model => model.Title)</h2>
        <div class="d-flex flex-row mb-2">
            <h6 class="card-subtitle mr-3 text-muted">IMDb Rating <span class="badge badge-warning">@Html.DisplayFor(model => model.ImdbRating)</span></h6>
            <h6 class="card-subtitle mr-3 text-muted">Rated <span class="badge badge-warning">@Html.DisplayFor(model => model.Rated)</span></h6>
            <h6 class="card-subtitle mr-3 text-muted">Genre <span class="badge badge-warning">@Html.DisplayFor(model => model.Genre)</span></h6>
        </div>
        <h5 class="text-white font-weight-light">
            @Html.DisplayFor(model => model.Plot)
        </h5>
    </div>
</div>
<a href="#" class="btn btn-outline-warning d-block shadow-sm" style="border-radius: 0 0 3rem 3rem">Add to cart</a>