@model IEnumerable<MovieStore.Lib.Models.Movie>

@{
    ViewBag.Title = "Index";
}
<div class="mt-4 text-center">
    <h2>Movies</h2>
</div>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImdbRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImdbID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Poster)" style="max-width:150px; max-height:219px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImdbRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImdbID)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "text-warning" })
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }
</table>