@model MovieStore.Lib.Models.Movie

<div class="col d-flex mb-4">
    <img class="img-fluid" style="max-width: 10vw;" src="@Model.Poster" alt="Card image cap">
    <div class="ml-4">
        <h2>@Model.Title</h2>
        <h4>@Model.Price kr</h4>
    </div>
    <div class="ml-auto align-self-center">
        <a href="@Url.Action("Remove", new { movieId = Model.Id })" class="mx-2 text-danger"><i class="fas fa-minus fa-2x"></i></a>
          <span class="badge badge-secondary text-warning">9</span>
        <a href="@Url.Action("Add", new { movieId = Model.Id })" class="mx-2 text-primary"><i class="fas fa-plus fa-2x"></i></a>

    </div>
</div>