@model MovieStore.Lib.Models.MovieSearchObjectResponse

<div class="col-12 col-md-6 d-flex mb-4 bg-secondary pl-0">
    <img class="img-fluid" style="max-width: 40%; height: auto;" src="@Model.Poster" alt="Card image cap" onerror="this.onerror = null; this.src = '@Url.Content("~/Content/Images/image-icon.svg")'; this.style.maxWidth = '20%';this.style.margin = '0 2.5rem'">
    <div class="ml-4 mt-3 col-6">
        <p class="badge badge-pill badge-secondary w-100">@string.Format("{0}{1}", Model.Type[0].ToString().ToUpper(), Model.Type.Substring(1))</p>
        <h5 class="text-center mt-4 mb-0 text-wrap">@Model.Title</h5>
        <h6 class="text-center mb-4"><span class="badge badge-pill badge-warning mt-2">@Model.Year</span></h6>
        @Html.ActionLink("Details", "DetailsImdb", "Movies", new { id = Model.imdbID }, new { @class = "btn btn-outline-warning d-block mb-2 mx-auto" })
    </div>
</div>