@model MovieStore.Web.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron bg-secondary my-2 d-flex align-items-center justify-content-center">
    <h1 class="text-warning display-1" id="brand-name">LMDb</h1>
    <img id="logo" style="max-width: 10rem" src="@Url.Content("~/Content/Images/logo.svg")" alt="Logo" />
</div>

<h1 class="text-center mt-3 display-4">Top 6 Recent</h1>
<div class="row align-items-stretch align-content-stretch justify-content-around">
    @if (Model.TopFiveRecent.Count > 0)
    {
        foreach (var movie in Model.TopFiveRecent)
        {
            @Html.Partial("_MoviePartial", movie)
        }
    }
</div>

<div class="my-4" style="padding-bottom: 2px; background-color: #ffc107;"></div>

<h1 class="text-center mt-3 display-4">Top 6 Popular</h1>
<div class="row align-items-stretch align-content-stretch justify-content-center">
    @if (Model.TopFivePopular.Count > 0)
    {
        foreach (var movie in Model.TopFivePopular)
        {
            @Html.Partial("_MoviePartial", movie)
        }
    }
</div>

@*<div class="my-4" style="padding-bottom: 2px; background-color: #ffc107;"></div>*@

<h1 class="text-center mt-3 display-4">Top 6 Cheapest</h1>
<div class="row align-items-stretch align-content-stretch justify-content-center">
    @if (Model.TopFiveCheapest.Count > 0)
    {
        foreach (var movie in Model.TopFiveCheapest)
        {
            @Html.Partial("_MoviePartial", movie)
        }
    }
</div>

@*<div class="my-4" style="padding-bottom: 2px; background-color: #ffc107;"></div>*@

<h1 class="text-center mt-3 display-4">Top 6 Oldest</h1>
<div class="row align-items-stretch align-content-stretch justify-content-center">
    @if (Model.TopFiveOldest.Count > 0)
    {
        foreach (var movie in Model.TopFiveOldest)
        {
            @Html.Partial("_MoviePartial", movie)
        }
    }
</div>