@model MovieStore.Web.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron bg-secondary my-2 d-flex align-items-center justify-content-center">
    <h1 class="text-warning display-1" id="brand-name">LMDb</h1>
    <img id="logo" style="max-width: 10rem" src="@Url.Content("~/Content/Images/logo.svg")" alt="Logo" />
</div>

@if (Model.TopFiveRecent.Count > 0)
{
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @for (int i = 0; i < Model.TopFiveRecent.Count; i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        @Html.Partial("_MovieCarouselPartial", Model.TopFiveRecent[i])
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        @Html.Partial("_MovieCarouselPartial", Model.TopFiveRecent[i])
                    </div>
                }
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}

<div class="row align-items-stretch align-content-stretch justify-content-around">
    @if (Model.TopFiveOldest.Count > 0)
    {
        foreach (var movie in Model.TopFiveOldest)
        {
            @Html.Partial("_MoviePartial", movie)
        }
    }
</div>

<div class="row align-items-stretch align-content-stretch justify-content-around">
    @if (Model.TopFiveCheapest.Count > 0)
    {
        foreach (var movie in Model.TopFiveCheapest)
        {
            @Html.Partial("_MoviePartial", movie)
        }
    }
</div>TopFiveCheapest